$theme-colors: (
    "primary-black" : #000000,
    "primary-white" : #ffffff,
    "primary-blue" : #007aff,
    "blue-main" : #007aff,
    "blue-light" : #eff4fe,
    "blue-dark" : #072a60,
    "gray-100": #f8f9fa,
    "gray-200": #e9ecef,
    "gray-300": #dee2e6,
    "gray-400": #ced4da,
    "gray-500": #adb5bd,
    "gray-600": #6c757d,
    "gray-700": #495057,
    "gray-800": #343a40,
    "gray-900": #212529

    // "primary":    #6900FF,
);

$font-sizes : (
    1: calc(1.375rem + 1.5vw),
    2: calc(1.325rem + 0.9vw),
    3: calc(1.3rem + 0.6vw),
    4: calc(1.275rem + 0.3vw),
    5: 1.25rem,
    6: .85rem, 
);

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-link-color: unset;
    --bs-link-hover-color: unset;
}
*, :after, :before, ::after, ::before {box-sizing:border-box}
* {margin:0; padding: 0; background-repeat: no-repeat; background-size: cover; background-position: center center;}
body, html {height:100%; font-family: 'Pretendard'; font-weight: 400;}
body {-webkit-font-smoothing:antialiased; line-height:1.5}
canvas, img, picture, svg, video {display:block;max-width:100%}
button, input, select, textarea {font:inherit; border: 0; background-color: transparent;}
button{cursor: pointer;}
h1, h2, h3, h4, h5, h6, p {overflow-wrap:break-word}
#__next, #root {isolation:isolate}
ul,ol{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: top; width: 100%;}

.navbar-toggler:focus {
    outline: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}

@media (min-width: 576px) {
    .position-sm-static {
      position: static !important;
    }
    .position-sm-relative {
      position: relative !important;
    }
    .position-sm-absolute {
      position: absolute !important;
    }
    .position-sm-fixed {
      position: fixed !important;
    }
    .position-sm-sticky {
      position: sticky !important;
    }
}
@media (min-width: 768px) {
    .position-md-static {
      position: static !important;
    }
    .position-md-relative {
      position: relative !important;
    }
    .position-md-absolute {
      position: absolute !important;
    }
    .position-md-fixed {
      position: fixed !important;
    }
    .position-md-sticky {
      position: sticky !important;
    }
  }
  
  @media (min-width: 992px) {
    .position-lg-static {
      position: static !important;
    }
    .position-lg-relative {
      position: relative !important;
    }
    .position-lg-absolute {
      position: absolute !important;
    }
    .position-lg-fixed {
      position: fixed !important;
    }
    .position-lg-sticky {
      position: sticky !important;
    }
    .fw-lg-normal {
        font-weight: normal !important;
    }
    .fs-lg-0{
        font-size : 16px !important;
    }
    .border-lg-top-0 {    border-top: 0 !important; }
    .border-lg-right-0 {  border-right: 0 !important; }
    .border-lg-bottom-0 { border-bottom: 0 !important; }
    .border-lg-left-0 {   border-left: 0 !important; }
    .bg-lg-none {background-color: transparent !important;}
}
  
@media (min-width: 1200px) {
    .position-xl-static {
      position: static !important;
    }
    .position-xl-relative {
      position: relative !important;
    }
    .position-xl-absolute {
      position: absolute !important;
    }
    .position-xl-fixed {
      position: fixed !important;
    }
    .position-xl-sticky {
      position: sticky !important;
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color !important; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
    // support of .border-sm (-md, -lg, -xl)
    .border#{$infix} {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
}